/*------------------------------------------------------------------ GENERALES ----*/
* {
    outline: 1px solid rgba(255, 0, 0, 0.48);
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Courgette";
    color: #fff;
    background: rgb(44, 53, 62);
}
.container {
    width: 700px;
    margin: 0 auto;
}
/*--------------------------------------------------------------------- HEADER ----*/
header {
    background: #272727;
}
.list-menu {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 15px;
    float: right;
    margin-top: 20px;
}
.list-menu li {
    display: inline-block;
}
.list-menu a {
    color: #fff;
    text-decoration: none;
}
p {
    font-family: sans-serif;
    font-style: italic;
}
/*----------------------------------------------------------------------- HERO ----*/
.hero {
    margin-top: 25px;
}
.hero .contenedor {
    background: url(../image/header-image.jpg) no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 295px;
    position: relative;
}
.hero .texto {
    background: rgba(38, 38, 38, 0.95);
    width: 430px;
    height: 160px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.hero h1 {
    color: yellow;
    font-size: 60px;
}
/*------------------------------------------------------------------ CONTENIDO ----*/
/*-------------------------------------------------------------------- SIDEBAR ----*/
/*--------------------------------------------------------------------- FOOTER ----*/
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}







